  .container-header {
    max-width: 800px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #Dark .container-header {
    color: white;
  }